@import "tailwindcss";
@import "./typography.css";

@theme {
  --color-pink-10: #ffacd6;
  --color-pink-50: #ff80b5;
  --color-pink-100: #f33283;
  --color-yellow: #fee500;

  --color-green: #c3f767;
  --color-purple: #b5a9ff;
  --color-blue: #c9e4ff;

  --color-gray-10: #f8f8f8;
  --color-gray-30: #e6e6e6;
  --color-gray-50: #b1b1b1;
  --color-gray-70: #696969;
  --color-gray-100: #171717;
}
