@import "tailwindcss";
@import "./typography.css";

@theme {
  --color-pink-10: #ffacd6;
  --color-pink-50: #ff80b5;
  --color-pink-100: #f33283;
  --color-yellow: #fee500;

  --color-green-10: #c3f767;
  --color-green-20: #74a816;

  --color-purple-10: #b5a9ff;
  --color-purple-20: #5e43ff;

  --color-blue-10: #c9e4ff;
  --color-blue-20: #62b0ff;

  --color-gray-10: #f8f8f8;
  --color-gray-20: #f0f0f0;
  --color-gray-30: #e6e6e6;
  --color-gray-50: #b1b1b1;
  --color-gray-70: #696969;
  --color-gray-100: #171717;
}
